apiVersion: v1
metadata:
  name: '{{ cluster_name }}'
baseDomain: {{ base_domain }}
controlPlane:
  hyperthreading: Enabled
  name: master
  replicas: {{ control_plane_replicas }}
  platform:
    aws:
      type: {{ instance_type }}
{% if compute_replicas > 0 %}
compute:
- hyperthreading: Enabled
  name: worker
  replicas: {{ compute_replicas }}
  platform:
    aws:
      type: {{ instance_type }}
{% else %}
compute: []
{% endif %}
networking:
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  machineNetwork:
  - cidr: 10.0.0.0/16
  networkType: OVNKubernetes
  serviceNetwork:
  - 172.30.0.0/16
platform:
  aws:
    region: {{ aws_region }}
pullSecret: ""  # provided via ClusterDeployment pullSecretRef
sshKey: ""      # provided via sshPrivateKeySecretRef when present
